.sidebar-chat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #999999;
  color: black;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  &.current {
    background: #1f3171;
    color: white;
  }
  &:hover {
    background: #1f3171;
    color: white;
    .delete-chat {
      transform: translateX(0%);
      display: block;
    }
    small {
      display: none;
    }
  }
}

.sidebar-chat-info {
  margin-left: 15px;
  position: relative;
  width: 100%;
  & > small {
    transition: all 0.2s;
    position: absolute;
    top: 5px;
    right: 0;
  }
}
.delete-chat {
  color: white;
  cursor: pointer;
  display: block;
  transform: translateX(100%);
  position: absolute;
  right: 0;
  width: 70px;
  margin-left: 10px;
  background-color: #ff4d4d;
  height: 100%;
  border: none;
  transition: all 0.4s;
  &:hover {
    background-color: #ffa5a5;
  }
}