.sidebar-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  @media screen and (max-width: 700px){
    display: none;
  }
  &.clicked {
    display: flex;
  }
}

#close {
  display: none;
  &.clicked {
    display: block;
  }
}

.sidebar-avatar {
  cursor: pointer;
  margin: 10px;
}

.create-chat {
  color: black;
}

.sidebar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: grey;
  background-color: #e1e1e1;
  border-radius: 5px;
  & > input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
}
