.sidebar-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.sidebar-avatar {
  cursor: pointer;
  margin: 10px;
}

.sidebar-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: grey;
  background-color: #e1e1e1;
  border-radius: 5px;
  & > input {
    border: none;
    background: transparent;
    outline: none;
  }
}
