.chat-input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  background-color: #ffffff;
  form {
    flex: 1;
  }
  input {
    width: 98%;
    outline: none;
    border: 1px solid lightgray;
    padding: 5px 5px 5px 15px;
    border-radius: 100px;
    background-color: transparent;
    color: black;
    &::placeholder {
      color: #6d6d6d;
    }
  }
  @media screen and (max-width: 700px){
    margin-left: 20px;
    padding-right: 5px;
  }
}

.send-icon {
  color: #6a6a6a;
}

.send-button:hover {
  .send-icon {
    color: #4082ff;
  }
}