.messages {
  flex: 1;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 700px){
    margin-left: 24px;
  }
}

.prompt-message {
  display: flex;
  height: 100%;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
  align-content: center;

  & > h2 {
    font-style: italic;
  }
}